/**
 * General elements
 */

body {
  color: #333;
  font-weight: 300;
  font-size: 20px;
  padding: 30px 0;
}

img {
  max-width: 100%;
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.6em;
  font-size: 20px;
}

label {
  font-size: 20px;
}

.splash {
  background: url('../img/bg-v4.jpg') no-repeat top left;
  color: #fff;
  text-align: center;
}

.navbar-collapse {
  /*padding: 0;*/
}

.footer {
  text-align: center;
}